.App {
  text-align: center;
}
.App-header {
  background-color: rgb(43, 42, 42);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.movie h2{ 
  margin-top: 10px;
  margin-left: -500px;
  margin-bottom: 35px;
}
.director h2{
  margin-right: -550px;
  margin-top: -79px;
}
/* .main-content {
  display: flex;
  flex-basis: 100px;
} */
.search-add input{
  /* float: centre; */
  margin-left: 100px;
  margin-top: 20px;
}
.search-add button{
  float: right;
  margin-right: 150px;
  margin-top: 20px;

}

body{
    background: #eee;
}
span{
    font-size:15px;
}
a{
  text-decoration:none; 
  color: #0062cc;
  border-bottom:2px solid #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}
.text{
    margin:20px 0px;
}

.fa{
     color:#4183D7;
}
.layer {
  position: fixed;
  z-index: 20;
  left: 20%;
  top: 20%;
  height: 60%;
  width: 65%;
  overflow: auto;
  background-color: rgba(223, 161, 161,1)
}
.element {
  position: relative;
  left:0;
}
.element label{
  position: absolute;
  margin-left:10%;
  left: 0;
  transition: 0.5s;
  font-size:18px;
  pointer-events: none;
}

.element input{
  font-size:18px;
  box-sizing:none;
  margin-left:25%;
 margin-bottom:35px;
  height:30px;
  width: 40%;
  border:none;
  background: transparent;
  background-color: transparent;
  border: 1px solid rgb(54, 29, 29);
}